@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap);
//@import "../node_modules/font-awesome/scss/font-awesome";

// LAYOUT 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 75%;
    margin: 0 auto;
    // border: 1px dashed rgb(141, 36, 36);
}
.row {
    width: 100%;
    display: flex;
}

// FINE LAYOUT

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}